parser: babel-eslint
extends: airbnb/base
env:
  node: true
globals:
  describe: true
  beforeEach: true
  before: true
  afterEach: true
  after: true
  it: true
  logger: true
plugins:
  - import
rules:
  max-len:
    - warn
    - 150
  indent:
    - error
    - 4
  comma-dangle:
    - error
    - never
  no-unused-vars: off
  no-unused-expressions: off
  no-duplicate-imports: off
  import/no-extraneous-dependencies: off